@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ix9ndu');
  src:  url('../fonts/icomoon.eot?ix9ndu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ix9ndu') format('truetype'),
    url('../fonts/icomoon.woff?ix9ndu') format('woff'),
    url('../fonts/icomoon.svg?ix9ndu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-undo2:before {
  content: "\e967";
}
.icon-play:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\1f326";
}
